{%
    set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    current_path ? 'context' ~ current_path|clean_class,
    ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
    <head>
        <head-placeholder token="{{ placeholder_token }}">
        <title>{{ head_title|safe_join(' | ') }}</title>
        <css-placeholder token="{{ placeholder_token }}">
        <js-placeholder token="{{ placeholder_token }}">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-2TCPJ56QB5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-2TCPJ56QB5');
        </script>
        <!-- Google AdSense -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9122030152873638"
        crossorigin="anonymous"></script>
    </head>
    <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable">{{ 'Skip to main content'|t }}</a>
        {{ page_top }}
        {{ page }}
        {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
    </body>
</html>