<div class="main_header">
    <div class="container">
        <div class="logo">
            <a href="{{ url('<front>') }}">
                <img data-original="{{ logo }}" class="lazy" alt="Nhà review" height="40" width="220">
            </a>
        </div>
        <div class="main_menu">
            <a href="{{ url('<front>') }}" class="d-block d-lg-none">
                <img data-original="{{ logo }}" class="lazy" alt="Nhà review" height="35" width="170">
            </a>
            {{ drupal_menu('main') }}
        </div>
        <div class="open_menu_mobile d-block d-lg-none"><i class="fad fa-bars"></i></div>
        <div class="bg_overlay"></div>
    </div>
</div>